In [14]:
from Bio.SCOP import Scop
import pandas as pd

In [5]:
scop = Scop(cla_handle=open('data/SCOPe/dir.cla.scope.2.08-stable.txt'),
            des_handle=open('data/SCOPe/dir.des.scope.2.08-stable.txt'),
            hie_handle=open('data/SCOPe/dir.hie.scope.2.08-stable.txt'))
scop

In [6]:
root = scop.getRoot()
print(root.description)

SCOP Root

In [16]:
domains = scop.getDomains()
sid_ = []
sccs_ = []
des_ = []
pdb_id_ = []

for domain in domains:
    sid_.append(domain.sid)
    sccs_.append(domain.sccs)
    des_.append(domain.description)
    pdb_id_.append(domain.description.split()[0])

df = pd.DataFrame({'sid': sid_, 'sccs': sccs_, 'description': des_, 'pdb_id': pdb_id_})
df

            sid     sccs   description pdb_id
0       d1ux8a_  a.1.1.1       1ux8 A:   1ux8
1       d1dlwa_  a.1.1.1       1dlw A:   1dlw
2       d1uvya_  a.1.1.1       1uvy A:   1uvy
3       d1dlya_  a.1.1.1       1dly A:   1dly
4       d1uvxa_  a.1.1.1       1uvx A:   1uvx
...         ...      ...           ...    ...
344846  d2ehoc3  l.1.1.1    2eho C:0-0   2eho
344847  d2ehof3  l.1.1.1    2eho F:0-0   2eho
344848  d2ehog3  l.1.1.1    2eho G:0-0   2eho
344849  d2ehok3  l.1.1.1    2eho K:0-0   2eho
344850  d1n02a2  l.1.1.1  1n02 A:-1--1   1n02

[344851 rows x 4 columns]

In [17]:
df.sccs.nunique()

5431

In [18]:
df[df.sccs == "a.1.1.2"]

          sid     sccs description pdb_id
70    d1asha_  a.1.1.2     1ash A:   1ash
71    d1vhba_  a.1.1.2     1vhb A:   1vhb
72    d1vhbb_  a.1.1.2     1vhb B:   1vhb
73    d4vhba_  a.1.1.2     4vhb A:   4vhb
74    d4vhbb_  a.1.1.2     4vhb B:   4vhb
...       ...      ...         ...    ...
2792  d3bj1c_  a.1.1.2     3bj1 C:   3bj1
2793  d3bj2a_  a.1.1.2     3bj2 A:   3bj2
2794  d3bj2c_  a.1.1.2     3bj2 C:   3bj2
2795  d3bj3a_  a.1.1.2     3bj3 A:   3bj3
2796  d3bj3c_  a.1.1.2     3bj3 C:   3bj3

[2727 rows x 4 columns]